<!-- 'save', is a Component action and when we call
     this.sendAction('save') 'save' will bubble up to the Controller
     for this Route or higher if the action is not defined -->
{{file-picker serviceType="image" store=store save="save" error="error"}}

{{#if uploadedImage.ready}}
  <br />
  <h2>Uploaded Image</h2>
  <br />
  <img {{bind-attr src="uploadedImage.url"}}  />
{{/if}}

{{#if errors.length}}
	<div class="errors">
	  <h2>Errors</h2>
	  <ul>
	    {{#each error in errors}}
	     <li>{{error}}</li>
	    {{/each}}
	  </ul>
	  <button class="btn" {{action 'clearErrors'}}>Clear Errors</button>
	</div>
{{/if}}

{{outlet}}
